<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/base :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/base :: header"></div>
<div class="container">
    <div class="row">
        <h3>Created orders</h3>
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th>Product name</th>
                <th>Product model</th>
                <th>Quantity</th>
                <th>Status</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="order: ${orders}">
                <tr>
                    <td th:text="${order.product.name}"></td>
                    <td th:text="${order.product.model}"></td>
                    <td th:text="${order.productQty}"></td>
                    <td th:text="${order.status.name().toLowerCase()}"></td>
                    <td>
                        <a th:href="'/order/'+${order.id}+'/'+${newStatus.toLowerCase()}" th:text="${newStatus}"
                           class="btn"></a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="fragments/base :: footer"></div>
</body>
</html>