<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/base :: head">
    <meta charset="UTF-8">
    <title>Stages</title>
</head>
<body>
<div th:replace="fragments/base :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-md-8 justify-content-center align-content-center">
            <th:block th:each="stage: ${stages}">
                <form class="form-group stage-form" action="/stage" method="post">
                    <input type="hidden" name="id" th:value="${stage.id}">
                    <input type="hidden" name="stageTimeUnit" th:value="${stage.getStageTimeUnit().name()}">
                    <label>
                        Stage Number
                        <input name="stageNumber" class="form-control" type="text" th:value="${stage.getStageNumber()}">
                    </label>
                    <br/>
                    <label>
                        Name
                        <input name="name" class="form-control" type="text" th:value="${stage.getName()}">
                    </label>
                    <br/>
                    <label>
                        Quantity
                        <input name="detailQty" class="form-control" type="text" th:value="${stage.getDetailQty()}">
                    </label>
                    <label>
                        Unit Qty
                        <input name="unitQty" class="form-control" type="text" th:value="${stage.getUnitQty()}">
                    </label>
                    <br/>
                    <label for="time" th:text="'Stage time ('+${stage.getStageTimeUnit().name()}+')'">
                    </label>
                    <input id="time" name="stageTime" class="form-control" type="text"
                           th:value="${stage.getStageTime()}">
                    <br/>
                    <input class="btn btn-primary" type="submit" value="Update">
                    <hr/>
                </form>
            </th:block>
        </div>
        <div class="col-md-4">
            <form class="form-group stage-form" action="/stage" method="post">
                <input type="hidden" name="timeStageUnit" th:value="'HOUR'">
                <label>
                    Stage Number
                    <input name="stageNumber" class="form-control" type="text">
                </label>
                <br/>
                <label>
                    Name
                    <input name="name" class="form-control" type="text">
                </label>
                <br/>
                <label>
                    Quantity
                    <input name="detailQty" class="form-control" type="text">
                </label>
                <label>
                    Unit Qty
                    <input name="unitQty" class="form-control" type="text">
                </label>
                <br/>
                <label>
                    Stage time (seconds)
                    <input name="stageTime" class="form-control" type="text">
                </label>
                <br/>
                <input class="btn btn-primary" type="submit" value="Save">
                <hr/>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/base :: footer"></div>
</body>
</html>