<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/base :: head">
    <meta charset="UTF-8">
    <title th:text="${product.getName}"></title>
</head>
<body>
<!--<th:block th:each="detail : ${product.getDetails()}">
                            <form class="form-group" action="/detail" method="post">
                                <div class="justify-content-center">
                                    <input name="id" type="hidden" th:value="${detail.getDetail().id}">
                                    <label>
                                        Name
                                        <input name="name" class="form-control" type="text"
                                               th:value="${detail.getDetail().getName()}">
                                    </label>
                                    <label>
                                        Quantity
                                        <input name="quantity" class="form-control" type="text"
                                               th:value="${detail.getDetail().getQuantity()}">
                                    </label>
                                    <label>UnitQty
                                        <select name="unitQty" class="form-control"
                                                th:value="${detail.getDetail().getUnitQty().getConfigType()}">
                                            <th:block th:each="unit: ${ext.get('unit')}">
                                                <option th:value="${detail.getDetail().getUnitQty().id}"
                                                        th:text="${unit.getConfigType()}"></option>
                                            </th:block>
                                        </select>
                                    </label>
                                    <label>
                                        Size
                                        <input name="size" class="form-control" type="text"
                                               th:value="${detail.getDetail().getSize()}">
                                    </label>
                                    <label>
                                        <input name="unitSize" class="form-control" type="text"
                                               th:value="${detail.getDetail().getUnitSize()}">
                                    </label>
                                    <label>
                                        Price per unit
                                        <input name="unitPrice" class="form-control" type="text"
                                               th:value="${detail.getDetail().getUnitPrice()}">
                                    </label>
                                    <label>
                                        <select name="currencyCode" class="form-control"
                                                th:value="${detail.getDetail().getCurrency().getName()}">
                                            <th:block th:each="currency: ${ext.get('currency')}">
                                                <option th:value="${currency.id}"
                                                        th:text="${currency.getName()}"></option>
                                            </th:block>
                                        </select>
                                    </label>
                                    <br/>
                                    <label>
                                        Material
                                        <input name="material" class="form-control" type="text"
                                               th:value="${detail.getDetail().getMaterial()}">
                                    </label>
                                    <input type="submit" class="btn btn-primary" value="update">
                                </div>
                            </form>
                            <hr/>
                        </th:block>-->
<div th:replace="fragments/base :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Name
                    <input class="form-control" type="text" th:value="${product.getName()}">
                </label>
                <label>Model
                    <input class="form-control" type="text" th:value="${product.getModel()}">
                </label>
                <h3 class="h3">Stages:</h3>
                <div class="container">
                    <!--<table class="table table-primary">-->
                    <!--<thead>-->
                    <!--<tr>-->
                    <!--<th>Detail</th>-->
                    <!--<th>Count</th>-->
                    <!--<th>Stage</th>-->
                    <!--<th>Stage number</th>-->
                    <!--<th></th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--<th:block th:each="detail: ${product.details}">-->
                    <!--<tr>-->
                    <!--<td th:text="${detail.detail.name}"></td>-->
                    <!--<td th:text="${detail.detailQty}+' '+${detail.unit}"></td>-->
                    <!--<td th:text="${detail.stage.name}"></td>-->
                    <!--<td th:text="${detail.stageNumber}"></td>-->
                    <!--<td>-->
                    <!--<form method="post" th:action="'/product/'+${product.id}+'/detail/delete'">-->
                    <!--<input name="detailId" type="hidden" th:value="${detail.id}">-->
                    <!--<input type="submit" value="Delete">-->
                    <!--</form>-->
                    <!--</td>-->
                    <!--</tr>-->
                    <!--</th:block>-->
                    <!--</tbody>-->
                    <!--</table>-->
                    <table class="table table-primary">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>StageNumber</th>
                            <!--<th>Stage</th>-->
                            <th>Details</th>
                            <!--<th>Stage number</th>-->
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="stage: ${stageList}">
                            <tr>
                                <td th:text="${stage.name}"></td>
                                <td th:text="${stage.stageNumber}"></td>
                                <td>
                                    <th:block th:each="detail: ${stage.detailList}">
                                        <table>
                                            <tr>
                                                <td th:text="${detail.detail} ? ${detail.detail.name} + ' '+ ${detail.detailQty} + ' '+${detail.unit} : ''"></td>
                                                <td>
                                                    <form method="post"
                                                          th:action="'/product/'+${product.id}+'/detail/delete'">
                                                        <input name="detailId" type="hidden" th:value="${detail.id}">
                                                        <input type="submit" value="Delete">
                                                    </form>
                                                </td>
                                            </tr>
                                        </table>
                                    </th:block>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h3 class="h3">Add detail</h3>
            <form class="form-group" th:action="'/product/'+${product.id}+'/detail'" method="post">
                <label>
                    <select name="detail" class="form-control">
                        <th:block th:each="detail: ${details}">
                            <option th:value="${detail.id}" th:text="${detail.name}"></option>
                        </th:block>
                    </select>
                    <label>Count
                        <input class="form-control" type="number" name="count">
                    </label>
                    <label>Unit
                        <input class="form-control" type="text" name="unit">
                    </label>
                </label>
                <label>Stage
                    <select name="stage" class="form-control">
                        <th:block th:each="stage: ${stages}">
                            <option th:value="${stage.id}" th:text="${stage.name}"></option>
                        </th:block>
                    </select>
                </label>
                <input type="submit" class="btn btn-primary" value="Add detail">
            </form>
            <hr>
            <form th:action="'/product/'+${product.id}+'/empty'" method="post">
                <label>Stage
                    <select name="stage" class="form-control">
                        <th:block th:each="stage: ${stages}">
                            <option th:value="${stage.id}" th:text="${stage.name}"></option>
                        </th:block>
                    </select>
                </label>
                <input type="submit" class="btn-primary btn" value="Add empty stage">
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/base :: footer"></div>
<script>
    $("form").submit(function (e) {
        window.location.reload(true);
    })
</script>
</body>
</html>